@*@model IEnumerable<GetMyDatabase.Models.Database>

@{
    ViewBag.Title = "Choose database, tables";
}

<h2>Databases</h2>
<div class="col-sm-12">
    <div class="col-sm-6">
        @Html.DropDownListFor(x => x.First().Name, Model.Select(x => new SelectListItem { Text = x.Name, Value = x.ID.ToString() }), new { id = "databaseList" } )
    </div>
    <div class="col-sm-6">

    </div>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>*@
